@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
}

body {
  background: #020617;
  color: #f8fafc;
  font-family: Inter, sans-serif;
}
